# CONTROL STATEMENTS

2. For loops

In [13]:
list =['apple','orange','banana','mango']
print(list)

['apple', 'orange', 'banana', 'mango']

In [23]:
for a in list:
    print(a ,',')

apple ,
orange ,
banana ,
mango ,

In [21]:
for a in list:
    if a=='mango':
        print(a,end='')
    else:
        print(a,end=',')

apple,orange,banana,mango

In [26]:
for i in range(0,20):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [27]:
4%2

0

In [28]:
for i in range(1,50):
    if i%2==0:
        print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48

In [29]:
sum=0
for i in range(50):
    if i%2==1:
        sum=sum+i
print(sum)

625

In [30]:
sum=0
count=0
for h in range(50):
    if h%2==0:
        sum+=h
        count+=1
average=sum/count
print(average)

24.0

In [45]:
row=int(input("Enter row: "))
for i in range(1,row):
    for j in range(0,i):
        print("*",end=" ")
    print()

Enter row: 8
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [44]:
row=int(input("Enter row: "))
for i in range(1,row):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

Enter row: 8
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7

In [46]:
a=eval(input("enter"))

enter45

In [47]:
type(a)

int

In [51]:
for i in range(1,6):
    for j in range(6-i):
        print(" ",end="")
    for k in range(i):
        print("*",end="")
    print()

     *
    **
   ***
  ****
 *****

In [52]:
list =[41,66,14,32,47,1,0,79]
for i in list:
    print(i)

41
66
14
32
47
1
0
79

In [56]:
for i in range(len(list)):
    if list[i]==14:
        break
    print(list[i])

41
66

In [57]:
a=[1,2,3,4,5]
b=['H','e','l','l','o']
for i,j in zip(a,b):
    print(i," ",j)

1   H
2   e
3   l
4   l
5   o

While Loop

In [61]:
i=0
while i<=50:
    print(i,end=" ")
    i+=1

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [63]:
i=0
sum=0
while i<=50:
    i+=1
    sum=sum+i
print(sum)

1326

In [66]:
for i in range(6):
    j=i
    while j>=1:
        print(j,end=" ")
        j=j-1
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

# THANK YOU!!!!!